header {
  background: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 2%;
  z-index: 10;
}

.header-logo {
  font-family: var(--logoFont);
  color: var(--black);
}

.nav-checkbox {
  display: none;
}

.nav-checkbox__gomb {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.nav-checkbox__vonal {
  width: 25px;
  height: 3px;
  background: var(--black);
}

.nav-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 50vw;
  min-width: 150px;
  max-width: 200px;
  background: var(--orange);
  right: -200px;
  visibility: hidden;
  transition: right 0.4s, visibility 0.4s;
}

.nav-list__elem {
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

.nav-list__elem a {
  width: 100%;
  padding: 20px 0;
  margin: 2vh 0;
  color: var(--black);
}

.nav-checkbox:checked ~ .nav-list {
  visibility: visible;
  right: 0;
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  .nav-checkbox__gomb {
    display: none;
  }

  .nav-list {
    visibility: visible;
    position: static;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw;
    max-width: 70vw;
  }

  .nav-list__elem a {
    padding: 2px 0;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
